<h1>Lista użytkowników:</h1>
<p><%= link_to 'Nowy użytkownik', new_user_path %></p>
<p id="notice"><%= notice %></p>
<table class="ports">
  <tr>
    <th>Nazwa</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= link_to 'Pokaż', user %></td>
    <td><%= link_to 'Edytuj', edit_user_path(user) %></td>
    <td><%= link_to 'Usuń', user, confirm: 'Czy jesteś pewien, że chcesz usunąć tego użytkownika?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowy użytkownik', new_user_path %>
