<p>
  <b>Name:</b>
  <%= @user.username %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @user.crypted_password %>
</p>

<p>
  <b>Password salt:</b>
  <%= @user.password_salt %>
</p>

<p>
  <b>Persistence token:</b>
  <%= @user.persistence_token %>
</p>

<p>
	<b>Dostępne urządzenia:</b></br>
	<% for device in @devices %>
  	<%= device.name %></br>
<% end %>
</p>
<%= link_to 'Edytuj', edit_user_path(@user) %> |
<%= link_to 'Wróć', users_path %>
