<h2>Urządzenia dostępne na stacji: <%= @he.address %></h2>
<p>
	<%= link_to "Powrót do spisu HE", hes_path %>
</p>
<table class="ports">
<tr>
	<th>Nr</th>
	<th>Name</th>
	<th>Ip</th>
	<th></th>
	<th></th>
	<th></th>
	
</tr>

	<% @devices.each_with_index do |device, index| %>
	<tr>
	<td><%= index + 1 %></td>
	<td><%= device[:name] %></td>
	<td><%= device[:ip] %></td>
	<td><%= link_to "Pokaż stan portów",  switch_path(device)%></td>
	<td><%= link_to "Edutuj",  edit_device_path(device)%></td>
	<td><%= link_to("Usuń",  device_path(device), :method => :delete, :confirm => "Czy jestes pewien, że chcesz usunąć urządzenie #{device.name}?")%></td>
	</tr>
	<% end %>
</table>
<p>
<%= link_to "Powrót do spisu HE", hes_path %>
</p>