<h1>Listing user_sessions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_sessions.each do |user_session| %>
  <tr>
    <td><%= user_session.name %></td>
    <td><%= user_session.password %></td>
    <td><%= link_to 'Pokaż', user_session %></td>
    <td><%= link_to 'Edytuj', edit_user_session_path(user_session) %></td>
    <td><%= link_to 'Usuń', user_session, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nowe sesja użytkownika', new_user_session_path %>
